<center>
  <br>
<h1>SMK Hacktiv8</h1>
<h3>Jakarta Selatan - Indonesia</h3><br>
    <a href="/">
      <button type="button" name="button" class="btn  btn-primary"><span class="glyphicon glyphicon-home"></span> Dashboard</button>
    </a>
    <a href="/teachers">
      <button type="button" name="button" class="btn  btn-info"><span class="glyphicon glyphicon-tree-deciduous"></span> Teachers</button>
    </a>
    <a href="/students">
      <button type="button" name="button" class="btn  btn-success"><span class="glyphicon glyphicon-education"></span> Students</button>
    </a>
    <a href="/subjects">
      <button type="button" name="button" class="btn btn-warning"><span class="glyphicon glyphicon-blackboard"></span> Subjects</button>
    </a>
    <a href="/users">
      <button type="button" name="button" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Users</button>
    </a>
    <a href="/logout" onclick="return confirm('Yakin mau Logout?');">
      <button type="button" name="button" class="btn btn-danger"><span class="glyphicon glyphicon-off"></span> Logout</button>
    </a>



</center>
<br><br>
